$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
) !default;
$font-family-sans-serif:'Open Sans', sans-serif;
$carousel-indicator-width: 8px;
$carousel-indicator-height: 8px;
$carousel-indicator-hit-area-height: 0;
$carousel-indicator-spacer:  7.5px;
$carousel-control-hover-opacity: 0.2;
// $h1-font-size: 62px;
// $h1-weight: 300;

$display1-size: 62px;
$display1-weight: 300;
$display2-size: 28px;
$display2-weight: 800;
$link-color: #ffffff;
$link-hover-decoration: none;
$body-color: rgba(6, 32, 51, 0.7);
$btn-padding-y: 5px;
$btn-padding-x: 20px;
$btn-font-family: 'Open Sans', sans-serif;
$btn-font-size: 14px;
$btn-font-weight: 600;
$btn-border-radius: 7px;
$btn-border-width: 0;
$btn-focus-box-shadow:  none;
$btn-active-box-shadow: none;
$card-border-width: none;
$card-border-radius: none;
$card-border-color: none;
$input-placeholder-color: rgba(55, 100, 110, 0.5);
$input-border-width: 0;
$input-focus-box-shadow: none;
$input-border-radius: 0;
$input-padding-x: 0;
$input-font-family: 'Open Sans', sans-serif;
$input-font-size: 13px;
$input-font-weight: 400;
$light: transparent;