$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
) !default;
$font-family-sans-serif:'Open Sans', sans-serif;
$carousel-indicator-width: 8px;
$carousel-indicator-height: 8px;
$carousel-indicator-hit-area-height: 0;
$carousel-indicator-spacer:  7.5px;
$carousel-control-hover-opacity: 0.2;
// $h1-font-size: 62px;
// $h1-weight: 300;

$display1-size: 62px;
$display1-weight: 300;

